html {
  width: 100%;
  height: 100%;
  min-height: 768px;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #434343;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.tools-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 30px 0 20px;
}

.control-container {
  display: flex;
  justify-content: space-between;
  width: 33%;
}

.search-city-form {
  width: 55%;
  display: flex;
  justify-content: flex-end;
}

.refresh-button {
  padding: 10px 15px;
}

.language-buttons-container {
  display: flex;
  justify-content: center;
}

.temperature-buttons-container {
  display: flex;
  justify-content: center;
}

.language-button {
  padding: 10px 15px;
}

.temperature-button {
  padding: 10px 15px;
}

.search-city-form input {
  padding: 10px 15px;
  width: 58%;
  font-style: italic;
}

.search-city-form input:focus {
  border: 1px solid #929292;
}

.voice-search-city {
  padding: 10px 15px;
  margin: 0 1%;
}

.search-city-button {
  width: 23%;
  font-size: 12px;
}

.tools-container__default-button-styles {
  background-color: #1A1A1C;
  color: #ffffff;
  border: 1px solid #59595B;
  border-radius: 5px;
  outline: none;
}

.tools-container__default-button-styles:not(input):hover {
  background-color: #404042;
  border: 1px solid #929292;
  cursor: pointer;
}

.tools-container__default-button-styles:not(input):active {
  transform: scale(0.98, 0.98);
}

.language-button-active, .temperature-button-active {
  background-color: #48484a;
  border: 1px solid #929292;
}

.main-container {
  width: 100%;
  height: 80%;
  display: flex;
  margin-top: 20px;
}

.main-container__weather-block, .main-container__map-block {
  height: 100%;
  width: 50%;
}

.main-container__map-block{
  padding-top: 45px;
}

.main-container__weather-block {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding-left: 45px;
}

.weather-block__location {
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
}

.weather-block__location-city {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}

.weather-block__location-date {
  font-size: 26px;
  margin: 10px 0;
}

.weather-block__location-week-day {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}

.weather-block__weather-today {
  display: flex;
  justify-content: center;
  padding-top: 45px;
  text-shadow: 1px 1px 1px #000000;
}

.weather-block__weather-today-container {
  margin: 0 70px 0 0;
  width: 60%;
}

.weather-block__weather-today-description {
  width: 40%;
}

.weather-block__weather-today-container-text {
  text-align: center;
  font-size: 30px;
  margin: 0;
  font-weight: 700;
}

.weather-block__weather-today-container-temperature {
  font-size: 150px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  padding-left: 10%;
}

.weather-block__weather-today-description-image {
  display: block;
  width: 42%;
}

.weather-block__weather-today-description {
  font-weight: 700;
  text-transform: uppercase;
}

.weather-block__forecast {
  display: flex;
  justify-content: space-around;
  padding-top: 45px;
  text-shadow: 1px 1px 1px #000000;
}

.weather-block__forecast-on-day {
  display: flex;
  flex-direction: column;
}

.forecast-on-day__day-of-the-week {
  text-align: center;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 22px;
}

.forecast-on-day__description {
  display: flex;
  padding-left: 10%;
}

.forecast-on-day__description-temperature {
  font-size: 22px;
}

.map-block__map {
  width: 31em;
  height: 31em;
  margin: 50px auto 0;
  background-color: #ffffff;
  border-radius: 5%;
}

.map-block__coordinates {
  width: 100%;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
}

.details {
  font-size: 24px;
  text-decoration: underline;
  margin: 15px 0;
}

.weather-block__weather-today-description-data div {
  padding-bottom: 10px;
  display: flex;
}

.weather-block__weather-today-description-data-text {
  margin: 0 3% 0 0;
}

#weather-today-feels-like {
  margin: 0;
}

#weather-today-wind {
  margin: 0;
  text-transform: lowercase;
}

#weather-today-humidity {
  margin: 0;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #414141 url('assets/spinning-circles.svg') no-repeat center center;
}

.preloader-text {
  position: absolute;
  top: 35%;
  left: 36%;
  width: 30vw;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  color: #ffffff;
  font-style: italic;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .8s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .8s, opacity .8s linear;
}
